<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/chat.css') }}">
    <title>Chat</title>
</head>
<body>
    <div class="container">
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <a style="text-decoration: none;" class="new-chat-btn" href="{{ url_for('create_thread') }}">New Chat</a>
            </div>
            <div class="sidebar-content">
                {% for thread in threads: %}
                    {% if thread == thread_id %}
                        <a style="padding: 5%;text-decoration: none;font-weight: bold;background-color: #444;"><div class="threads">Something in {{thread}}</div></a>
                    {% else %}
                        <a style="padding: 5%;text-decoration: none;" href="{{ url_for('chat', thread=threads[thread_id]) }}"><div class="threads">Something in {{thread}}</div></a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="user-dropdown">
            <button style="font-size: larger;" onclick="toggleUserMenu()">^ Menu</button>
            <div class="user-menu" id="userMenu">
                <a class="sidebar-toggle">Sidebar</a>
                <a href="#">Settings</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </div>
        <div class="chat-area" id="chatArea">
            <div class="chat-content" id="chatContent">
                {% if response is string: %}
                    <span style="background-color: rgb(38, 38, 174);" class="chat-bubble">
                        <img src="{{ url_for('static',filename='img/bot_icon.png') }}" alt="BOT" width="6%" height="6%">
                        <h3 >{{response}}</h3>
                    </span>
                {% else %}
                    {% for message in response[::-1]: %}
                        {% set bubble = message.content[0].text.value %}
                        {% if bubble not in exempt: %}
                            {% if message.role == "user": %}
                                {% set bubble = bubble.split("For context:")[1] %}
                                <span style="background-color: rgb(0, 0, 72);" class="chat-bubble user-message">
                                    <img src="{{ url_for('static',filename='img/user_icon.png') }}" alt="USER" width="6%" height="6%">
                                    <h3>{{bubble}}</h3>
                                </span>
                            {% else: %}
                                <span style="background-color: rgb(38, 38, 174);" class="chat-bubble">
                                    <img src="{{ url_for('static',filename='img/bot_icon.png') }}" alt="BOT" width="6%" height="6%">
                                    <h3 >{{bubble}}</h3>
                                </span>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
            <form action="" method="post">
                <div class="user-entry">
                    <div class="entry-options">
                        <select name="query_type" class="entry-options">
                            <option value="QA">QA</option>
                            <option value="Exam">Exam</option>
                        </select>
                    </div>
                    <textarea name="query" id="userEntryTextarea" placeholder="Enter your message..."></textarea>
                    <button id="submitQuery" class="btn btn-default entry-options" type="submit">Send</button>
                </div>
            </form>
            <div class="ai-mistakes">AI makes mistakes</div>
        </div>
    </div>
    <script src="{{ url_for('static',filename='js/chat.js') }}"> </script>
</body>
</html>
